certifi==2020.6.20
cycler==0.10.0
future==0.18.2
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.12
joblib==0.17.0
kiwisolver==1.2.0
matplotlib==3.3.2
message-filters==1.14.7
numpy==1.19.2
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.3
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-py-common==0.4.2
scikit-learn==0.23.2
scipy==1.5.2
sensor-msgs==1.12.7
six==1.15.0
sklearn==0.0
smach==2.0.1
smclib==1.8.5
threadpoolctl==2.1.0
topic-tools==1.14.7
torch==1.6.0
torchvision==0.7.0
